<h3> Create Assessment </h3>
<form method="POST" action="/staff/Lecturer/{{Lecturers}}/addAssessment/add">
    <label for="AssessmentName">Assessment Name</label><br>
    <input type="text" name="AssessmentName" /><br>
    <label for="DueDate">Due Date (Please Use Form YYYY/MM/DD)</label><br>
    <input type="text" name="DueDate" /><br>
    <label for="AssessmentDesc">Assessment Description</label><br>
    <input type="text" name="AssessmentDesc" /><br>
    <label for="AssessmentContent">Assessment Content</label><br>
    <input type="text" name="AssessmentContent" /><br>
    <input type="submit" />
</form>
