<h3> Create Assessment </h3>
<form method="POST" action="/staff/Lecturer/{{Lecturers}}/addAssessmentMarks/add">
    <label for="PupilID">PupilID</label><br>
    <input type="text" name="PupilID" /><br>
    <label for="AssessmentID">AssessmentID</label><br>
    <input type="text" name="AssessmentID" /><br>
    <label for="Percentage">Percentage Score</label><br>
    <input type="text" name="Percentage" /><br>
    <input type="submit" />
</form>
