<h2>Admin</h2>

    <li class="list-group-item"><a href="/admin/retrieve-pupils">Retrieve All Pupils</a> </li>
    <li class="list-group-item"><a href="/admin/create-pupil">Create a Pupil</a> </li>
    <li class="list-group-item"><a href="/admin/delete-pupil">Delete a Pupil</a> </li>
    <li class="list-group-item"><a href="/admin/get-staff">Retrieve All Staff</a> </li>
    <li class="list-group-item"><a href="/admin/create-staff">Create a Staff Member</a> </li>
    <li class="list-group-item"><a href="/admin/delete-staff">Delete a Staff Member</a> </li>

<!--sidebar nav on this page-->
<script>
var x = document.getElementById("navbar");
x.style.display = "none";
var x = document.getElementById("menubtn");
x.style.display = "block";
</script>