<h3> Create Staff </h3>
<form method="POST" action="/admin/create-staff/create">
    <label for="FirstName">Firstname</label><br>
    <input type="text" name="FirstName" /><br>
    <label for="LastName">Lastname</label><br>
    <input type="text" name="LastName" /><br>
    <label for="Email">Email</label><br>
    <input type="text" name="Email" /><br>
    <label for="Role">Role</label><br>
    <input type="text" name="Role" /><br>
    <label for="Pswd">Password</label><br>
    <input type="text" name="Pswd" /><br>
    <input type="submit" />
    <h4>{{message}}</h4>
</form>

