<h3> Create Pupil </h3>
<form method="POST" action="/admin/create-pupil/create">
    <label for="FirstName">Firstname</label><br>
    <input type="text" name="FirstName" /><br>
    <label for="LastName">Lastname</label><br>
    <input type="text" name="LastName" /><br>
    <label for="Email">Email</label><br>
    <input type="text" name="Email" /><br>
    <label for="CourseCode">Course code</label><br>
    <input type="text" name="CourseCode" /><br>
    <label for="Pswd">Password</label><br>
    <input type="text" name="Pswd" /><br>
    <input type="submit" />
    <h4>{{message}}</h4>
</form>