
  <table class="content-table">
  <tr>
    <th>First Name</th>
    <th>Email</th>
    <th>ModuleAverage</th>
  </tr>
{{#each StudentData}}
<tr>
    <td>{{this.FirstName}}</td>
    <td>{{this.Email}}</td>
    <td>{{this.Percentage}}</td>
  </tr>
  {{/each}}


  </table>


</div>