<body style="background-image: url('/img/background.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;">


<div class="jumbotron" style="text-align: center;">
  <h1 class="display-4" style="margin-bottom: 40px;">EPIC Learning Management System</h1>
  <p class="lead">Welcome to the world of EPIC LMS!</p>
  <hr class="my-4">
  <p  style="margin-bottom: 40px;">Login to dive into EPIC LMS</p>
  <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
</div>
</div>
