<header class="header">Modules</header>
<hr class="rule">

<div id='content' class="container">
</div>

<script>
document.getElementById('content').innerHTML = `{{{Content}}}`;
</script>


<!--sidebar nav on this page-->
<script>
var x = document.getElementById("navbar");
x.style.display = "none";
var x = document.getElementById("menubtn");
x.style.display = "block";
</script>

</div>