
<h2>{{ModuleName}}</h2>

    <li class="list-group-item"><a href="/staff/Lecturer/{{moduleID}}/addAssessment">Add Assessment</a> </li>
    <li class="list-group-item"><a href="/staff/Lecturer/{{moduleID}}/addAssessmentMarks">Add Assessment Marks</a> </li>
    <li class="list-group-item"><a href="/staff/Lecturer/{{moduleID}}/CheckMarks">Check Full Class' Marks</a> </li>



<!--sidebar nav on this page-->
<script>
var x = document.getElementById("navbar");
x.style.display = "none";
var x = document.getElementById("menubtn");
x.style.display = "block";
</script>

</div>